.slogan {
  font-size: 25px;
}

.main-tool-bar button {
  border-width: 0;
}

.main-notebook .tab button {
  padding: 0;
  border-width: 1px;
  border-color: transparent;
}

.main-notebook .tab button:hover {
  border-color: #fff;
}

.main-notebook .tab .image-button {
  background-image: none;
  background-color: transparent;
}



/**
 输入框验证失败
 */
.form-valid-fail {
  border-color: red;
  border-width: 1px;
}