.slogan {
  font-size: 25px;
}

.main-tool-bar button {
  border-width: 0;
  background-image: none;
}

menubar,
.main-tool-bar button:hover,
.table-toolbar button:hover,
.fx-alert .fx-alert-content {
  background-color: #2d2d2d;
}

.main-notebook .tab button {
  padding: 0;
  border-width: 1px;
  border-color: transparent;
}

.main-notebook .tab button:hover {
  border-color: #fff;
}

.main-notebook .tab .image-button {
  background-image: none;
  background-color: transparent;
}



/**
 输入框验证失败
 */
.form-valid-fail {
  border-color: red;
  border-width: 1px;
}

.connect-dialog grid,
.connect-dialog .test-box {
  padding: 5px;
}

.dialog .action-item {
  margin: 5px;
}

.connect-dialog .flow-box {
  padding: 5px;
}

.connect-dialog .flow-box .feature-list-item {
  border-style: solid;
  border-width: 1px;
  border-color: #2b2b2b;
  padding: 5px;
}

.fx-alert>box {
  padding: 7px;
}

.table-toolbar {
  background-color: #353535;
  padding: 2px;
}

.table-toolbar button {
  padding: 0;
  border-width: 0;
  background-image: none;
  background-color: transparent;
}

.notebook-table columnview,
.notebook-table columnview listview,
.notebook-table .filter-box entry,
.welcome-page {
  background-color: #1e1e1e;
}

.notebook-table .filter-box entry {
  border-width: 0;
  border-radius: 0;
}

.notebook-table cell:first-child {
  background-color: #2d2d2d;
}

.notebook-table .table-cell-high-light {
  color: #7d6b51;
}